Lab_4/REST_client/src/main/java/wsdl_autogenerated/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://web_services/" schemaLocation="http://localhost:8080/PersonService?xsd=1" />
</xsd:schema>
</types>
<message name="insertPersonByQueryClass">
<part name="arg0" type="tns:person" />
</message>
<message name="insertPersonByQueryClassResponse">
<part name="return" type="xsd:string" />
</message>
<message name="ServerException">
<part name="fault" element="tns:ServerException" />
</message>
<message name="updatePersonByQueryClass">
<part name="arg0" type="tns:person" />
<part name="arg1" type="tns:person" />
</message>
<message name="updatePersonByQueryClassResponse">
<part name="return" type="xsd:string" />
</message>
<message name="selectPersonsByQueryClass">
<part name="arg0" type="tns:person" />
</message>
<message name="selectPersonsByQueryClassResponse">
<part name="return" type="tns:personArray" />
</message>
<message name="deletePersonByQueryClass">
<part name="arg0" type="tns:person" />
</message>
<message name="deletePersonByQueryClassResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getPersons" />
<message name="getPersonsResponse">
<part name="return" type="tns:personArray" />
</message>
<portType name="PersonWebService">
<operation name="insertPersonByQueryClass">
<input message="tns:insertPersonByQueryClass" />
<output message="tns:insertPersonByQueryClassResponse" />
<fault message="tns:ServerException" name="ServerException" />
</operation>
<operation name="updatePersonByQueryClass" parameterOrder="arg0 arg1">
<input message="tns:updatePersonByQueryClass" />
<output message="tns:updatePersonByQueryClassResponse" />
<fault message="tns:ServerException" name="ServerException" />
</operation>
<operation name="selectPersonsByQueryClass">
<input message="tns:selectPersonsByQueryClass" />
<output message="tns:selectPersonsByQueryClassResponse" />
<fault message="tns:ServerException" name="ServerException" />
</operation>
<operation name="deletePersonByQueryClass">
<input message="tns:deletePersonByQueryClass" />
<output message="tns:deletePersonByQueryClassResponse" />
<fault message="tns:ServerException" name="ServerException" />
</operation>
<operation name="getPersons">
<input message="tns:getPersons" />
<output message="tns:getPersonsResponse" />
<fault message="tns:ServerException" name="ServerException" />
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="insertPersonByQueryClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal" />
</fault>
</operation>
<operation name="updatePersonByQueryClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal" />
</fault>
</operation>
<operation name="selectPersonsByQueryClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal" />
</fault>
</operation>
<operation name="deletePersonByQueryClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal" />
</fault>
</operation>
<operation name="getPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal" />
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService" />
</port>
</service>
</definitions>