Lab_2/SOAP_client/src/main/java/wsdl_autogenerated/PersonService1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://web_services/" schemaLocation="http://localhost:8080/PersonService?xsd=1" />
</xsd:schema>
</types>
<message name="selectPersons">
<part name="arg0" type="tns:person" />
</message>
<message name="selectPersonsResponse">
<part name="return" type="tns:personArray" />
</message>
<message name="PersonDoesNotExistException">
<part name="fault" element="tns:PersonDoesNotExistException" />
</message>
<message name="EmptyRequestException">
<part name="fault" element="tns:EmptyRequestException" />
</message>
<message name="SQLConvertException">
<part name="fault" element="tns:SQLConvertException" />
</message>
<message name="deletePersonByID">
<part name="arg0" type="xsd:int" />
</message>
<message name="deletePersonByIDResponse">
<part name="return" type="xsd:string" />
</message>
<message name="getPersons" />
<message name="getPersonsResponse">
<part name="return" type="tns:personArray" />
</message>
<message name="insertPerson">
<part name="arg0" type="tns:person" />
</message>
<message name="insertPersonResponse">
<part name="return" type="xsd:string" />
</message>
<message name="updatePersonByID">
<part name="arg0" type="xsd:int" />
<part name="arg1" type="tns:person" />
</message>
<message name="updatePersonByIDResponse">
<part name="return" type="xsd:string" />
</message>
<portType name="PersonWebService">
<operation name="selectPersons">
<input message="tns:selectPersons" />
<output message="tns:selectPersonsResponse" />
<fault message="tns:PersonDoesNotExistException" name="PersonDoesNotExistException" />
<fault message="tns:EmptyRequestException" name="EmptyRequestException" />
<fault message="tns:SQLConvertException" name="SQLConvertException" />
</operation>
<operation name="deletePersonByID">
<input message="tns:deletePersonByID" />
<output message="tns:deletePersonByIDResponse" />
<fault message="tns:PersonDoesNotExistException" name="PersonDoesNotExistException" />
<fault message="tns:EmptyRequestException" name="EmptyRequestException" />
<fault message="tns:SQLConvertException" name="SQLConvertException" />
</operation>
<operation name="getPersons">
<input message="tns:getPersons" />
<output message="tns:getPersonsResponse" />
</operation>
<operation name="insertPerson">
<input message="tns:insertPerson" />
<output message="tns:insertPersonResponse" />
<fault message="tns:SQLConvertException" name="SQLConvertException" />
<fault message="tns:EmptyRequestException" name="EmptyRequestException" />
</operation>
<operation name="updatePersonByID" parameterOrder="arg0 arg1">
<input message="tns:updatePersonByID" />
<output message="tns:updatePersonByIDResponse" />
<fault message="tns:PersonDoesNotExistException" name="PersonDoesNotExistException" />
<fault message="tns:EmptyRequestException" name="EmptyRequestException" />
<fault message="tns:SQLConvertException" name="SQLConvertException" />
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="selectPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="PersonDoesNotExistException">
<soap:fault name="PersonDoesNotExistException" use="literal" />
</fault>
<fault name="EmptyRequestException">
<soap:fault name="EmptyRequestException" use="literal" />
</fault>
<fault name="SQLConvertException">
<soap:fault name="SQLConvertException" use="literal" />
</fault>
</operation>
<operation name="deletePersonByID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="PersonDoesNotExistException">
<soap:fault name="PersonDoesNotExistException" use="literal" />
</fault>
<fault name="EmptyRequestException">
<soap:fault name="EmptyRequestException" use="literal" />
</fault>
<fault name="SQLConvertException">
<soap:fault name="SQLConvertException" use="literal" />
</fault>
</operation>
<operation name="getPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
</operation>
<operation name="insertPerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="SQLConvertException">
<soap:fault name="SQLConvertException" use="literal" />
</fault>
<fault name="EmptyRequestException">
<soap:fault name="EmptyRequestException" use="literal" />
</fault>
</operation>
<operation name="updatePersonByID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://web_services/" />
</input>
<output>
<soap:body use="literal" namespace="http://web_services/" />
</output>
<fault name="PersonDoesNotExistException">
<soap:fault name="PersonDoesNotExistException" use="literal" />
</fault>
<fault name="EmptyRequestException">
<soap:fault name="EmptyRequestException" use="literal" />
</fault>
<fault name="SQLConvertException">
<soap:fault name="SQLConvertException" use="literal" />
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService" />
</port>
</service>
</definitions>