Lab_7/UDDI_client/write.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://web_services/">
<types>
<xsd:schema>
<xsd:import namespace="http://web_services/" schemaLocation="http://localhost:8081/PersonService?xsd=1"/>
</xsd:schema>
</types>
<message name="selectPersons">
<part name="arg0" type="tns:person"/>
</message>
<message name="selectPersonsResponse">
<part name="return" type="tns:personArray"/>
</message>
<message name="ServerException">
<part element="tns:ServerException" name="fault"/>
</message>
<message name="UnauthorizedException">
<part element="tns:UnauthorizedException" name="fault"/>
</message>
<message name="insertPerson">
<part name="arg0" type="tns:person"/>
</message>
<message name="insertPersonResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getPersons"/>
<message name="getPersonsResponse">
<part name="return" type="tns:personArray"/>
</message>
<message name="deletePersonByID">
<part name="arg0" type="xsd:int"/>
</message>
<message name="deletePersonByIDResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="updatePersonByID">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="tns:person"/>
</message>
<message name="updatePersonByIDResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="PersonWebService">
<operation name="selectPersons">
<input message="tns:selectPersons"/>
<output message="tns:selectPersonsResponse"/>
<fault message="tns:ServerException" name="ServerException"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException"/>
</operation>
<operation name="insertPerson">
<input message="tns:insertPerson"/>
<output message="tns:insertPersonResponse"/>
<fault message="tns:ServerException" name="ServerException"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException"/>
</operation>
<operation name="getPersons">
<input message="tns:getPersons"/>
<output message="tns:getPersonsResponse"/>
<fault message="tns:ServerException" name="ServerException"/>
</operation>
<operation name="deletePersonByID">
<input message="tns:deletePersonByID"/>
<output message="tns:deletePersonByIDResponse"/>
<fault message="tns:ServerException" name="ServerException"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException"/>
</operation>
<operation name="updatePersonByID" parameterOrder="arg0 arg1">
<input message="tns:updatePersonByID"/>
<output message="tns:updatePersonByIDResponse"/>
<fault message="tns:ServerException" name="ServerException"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException"/>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="selectPersons">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://web_services/" use="literal"/>
</input>
<output>
<soap:body namespace="http://web_services/" use="literal"/>
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal"/>
</fault>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="insertPerson">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://web_services/" use="literal"/>
</input>
<output>
<soap:body namespace="http://web_services/" use="literal"/>
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal"/>
</fault>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://web_services/" use="literal"/>
</input>
<output>
<soap:body namespace="http://web_services/" use="literal"/>
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal"/>
</fault>
</operation>
<operation name="deletePersonByID">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://web_services/" use="literal"/>
</input>
<output>
<soap:body namespace="http://web_services/" use="literal"/>
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal"/>
</fault>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="updatePersonByID">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://web_services/" use="literal"/>
</input>
<output>
<soap:body namespace="http://web_services/" use="literal"/>
</output>
<fault name="ServerException">
<soap:fault name="ServerException" use="literal"/>
</fault>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PersonService">
<port binding="tns:PersonWebServicePortBinding" name="PersonWebServicePort">
<soap:address location="http://localhost:8081/PersonService"/>
</port>
</service>
</definitions>