Lab_1/SOAP_client/src/main/java/wsdl_autogenerated/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://web_services/" schemaLocation="http://localhost:8080/PersonService?xsd=1"/>
</xsd:schema>
</types>
<message name="insertPersonByQueryClass">
<part name="arg0" type="tns:query"/>
</message>
<message name="insertPersonByQueryClassResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="updatePersonByQueryClass">
<part name="arg0" type="tns:query"/>
<part name="arg1" type="tns:query"/>
</message>
<message name="updatePersonByQueryClassResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="selectPersonsByQueryClass">
<part name="arg0" type="tns:query"/>
</message>
<message name="selectPersonsByQueryClassResponse">
<part name="return" type="tns:personArray"/>
</message>
<message name="deletePersonByQueryClass">
<part name="arg0" type="tns:query"/>
</message>
<message name="deletePersonByQueryClassResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getPersons"/>
<message name="getPersonsResponse">
<part name="return" type="tns:personArray"/>
</message>
<portType name="PersonWebService">
<operation name="insertPersonByQueryClass">
<input wsam:Action="http://web_services/PersonWebService/insertPersonByQueryClassRequest" message="tns:insertPersonByQueryClass"/>
<output wsam:Action="http://web_services/PersonWebService/insertPersonByQueryClassResponse" message="tns:insertPersonByQueryClassResponse"/>
</operation>
<operation name="updatePersonByQueryClass" parameterOrder="arg0 arg1">
<input wsam:Action="http://web_services/PersonWebService/updatePersonByQueryClassRequest" message="tns:updatePersonByQueryClass"/>
<output wsam:Action="http://web_services/PersonWebService/updatePersonByQueryClassResponse" message="tns:updatePersonByQueryClassResponse"/>
</operation>
<operation name="selectPersonsByQueryClass">
<input wsam:Action="http://web_services/PersonWebService/selectPersonsByQueryClassRequest" message="tns:selectPersonsByQueryClass"/>
<output wsam:Action="http://web_services/PersonWebService/selectPersonsByQueryClassResponse" message="tns:selectPersonsByQueryClassResponse"/>
</operation>
<operation name="deletePersonByQueryClass">
<input wsam:Action="http://web_services/PersonWebService/deletePersonByQueryClassRequest" message="tns:deletePersonByQueryClass"/>
<output wsam:Action="http://web_services/PersonWebService/deletePersonByQueryClassResponse" message="tns:deletePersonByQueryClassResponse"/>
</operation>
<operation name="getPersons">
<input wsam:Action="http://web_services/PersonWebService/getPersonsRequest" message="tns:getPersons"/>
<output wsam:Action="http://web_services/PersonWebService/getPersonsResponse" message="tns:getPersonsResponse"/>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="insertPersonByQueryClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web_services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web_services/"/>
</output>
</operation>
<operation name="updatePersonByQueryClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web_services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web_services/"/>
</output>
</operation>
<operation name="selectPersonsByQueryClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web_services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web_services/"/>
</output>
</operation>
<operation name="deletePersonByQueryClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web_services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web_services/"/>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://web_services/"/>
</input>
<output>
<soap:body use="literal" namespace="http://web_services/"/>
</output>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService"/>
</port>
</service>
</definitions>